:root {
  --background: #fffcf5;

  --purple: #4a2e6e;
  --blue: #465ae1;
  --light-blue: #63a7f7;
  --yellow: #ffd719;
  --light-yellow: #fff080;
  --mint: #69e093;
  --light-green: #d2d741;
  --light-red: #ff1d25;
  --dark-red: #b20202;
  --dark-orange: #f55a32;
  --light-orange: #ff7b02;
  --light-pink: #ffaac3;
  --hot-pink: #fe87eb;
  --gold: #f9cc00;
  --glass-tint-blue: #0091ff;
  --glass-burn-gray: #dddddd;
  --light-grey: #787880;

  --text-primary: #3e3c3d;
  --text-secondary: #68655e;
  --placeholder: #727272;
  
  --gray-light: #e6e6e6;
  --gray-lighter: #f7f7f7;
  --gray-lightest: #ededed;
  --dark-text: #1a1a1a;
  --medium-text: #878183;
  --medium-gray: #8b8b90;
  --body-bg: #eaeaea;
  --vault-filter-bg: #f5f2eb;
  --vault-action-icon: #b496a0;
  --vault-action-seed: #ab7387;
  --vault-action-knot: #ac7843;
  --vault-action-burden: #6a5493;
  --vault-knot-card: #ffb619;
  --nav-tools: #62d089;
  --nav-vault: #f15cd8;
  --nav-home: var(--blue);
  --nav-bliss: #ffb619;
  --nav-profile: var(--dark-orange);
  --quiz-result-title: #f5f5f5;
  --quiz-result-seed-circle: #ffd1db;
  --quiz-result-seed-button: #ffafc7;
  --quiz-result-knot-circle: #ffe567;
  --quiz-result-knot-button: #ffba27;
  --quiz-result-burden-name: #9fa8eb;
  --quiz-result-burden-button: #384dde;
  --detail-chip-seed-bg: #ffdadd;
  --detail-chip-seed-text: #724d50;
  --detail-chip-knot-bg: #ffe2a3;
  --detail-chip-knot-text: #725516;
  --detail-chip-burden-bg: #b5bae9;
  --detail-chip-burden-text: #282d5c;
  --detail-timeline-seed-title: #ffbacd;
  --detail-timeline-knot-title: #ffc547;
  --detail-timeline-burden-title: #6b7ae5;

  --white: #ffffff;
  --black: #000000;

  --font-primary: "SF Pro";
  --font-italic: "SF Pro Italic";
  --font-medium: "SF Pro Medium";
  --font-semibold: "SF Pro Semibold";

  --font-title: "Tumb Test";

}
